<h2 mat-dialog-title>Enter Car Details</h2>
<mat-dialog-content class="mat-typography">
  
  <form [formGroup]="carDetailsForm" (ngSubmit)="saveDetails()" novalidate>
    <mat-tab-group mat-stretch-tabs>
      <mat-tab label="Basic Details">
        <div class="form-container" fxLayout="row wrap" fxLayoutAlign="start center">
          <div class="field">
            <mat-form-field appearance="outline">
              <mat-label>Brand</mat-label>
              <mat-select formControlName="brand">
                <mat-option *ngFor="let b of brands" [value]="b">
                  {{b}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="field">
            <mat-form-field appearance="outline">
              <mat-label>Model</mat-label>
              <mat-select formControlName="model">
                <mat-option *ngFor="let b of models" [value]="b">
                  {{b}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="field">
            <mat-form-field appearance="outline">
              <mat-label>Kilometers</mat-label>
              <input matInput formControlName="km">
            </mat-form-field>
          </div>
          <div class="field">
            <mat-form-field appearance="outline">
              <mat-label>Year</mat-label>
              <mat-select formControlName="year">
                <mat-option *ngFor="let b of years" [value]="b">
                  {{b}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="field">
            <mat-form-field appearance="outline">
              <mat-label>Fuel</mat-label>
              <mat-select formControlName="fuel">
                <mat-option *ngFor="let b of fuels" [value]="b">
                  {{b}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="field">
            <mat-form-field appearance="outline">
              <mat-label>Color</mat-label>
              <mat-select formControlName="color">
                <mat-option *ngFor="let b of colors" [value]="b">
                  <div fxLayout="row" fxLayoutAlign="space-between center"><span>{{b}}</span>
                    <p class="color" [ngStyle]="{'background': b}"></p>
                  </div>
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="field">
            <mat-form-field appearance="outline">
              <mat-label>Car Type</mat-label>
              <mat-select formControlName="car_type">
                <mat-option *ngFor="let b of carTypes" [value]="b">
                  {{b}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="field" fxLayout="row">
            <mat-form-field appearance="outline">
              <mat-label>Is E-Car?</mat-label>
              <mat-select formControlName="e_car">
                <mat-option [value]="true">
                  Yes
                </mat-option>
                <mat-option [value]="false">
                  No
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Damage Records">
        <div class="damage-container" formArrayName="damages">
          <div class="form-array-container" fxLayout="row" fxLayoutAlign="start center"
            *ngFor="let d of damagesControl?.controls; let i = index">
            <ng-container [formGroupName]="i">
              <mat-form-field appearance="outline">
                <mat-label>Piece</mat-label>
                <input matInput formControlName="piece" placeholder="Piece">
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Amount</mat-label>
                <input matInput formControlName="amount" placeholder="Amount">
              </mat-form-field>
              <button mat-icon-button color="warn" (click)="deleteDamages(i)">
                <mat-icon>delete_forever</mat-icon>
              </button>
            </ng-container>
          </div>
          <div class="button" fxLayout="row" fxLayoutAlign="center center">
            <button mat-raised-button color="primary" (click)="addDamages()">Add a record</button>
          </div>

        </div>
      </mat-tab>
    </mat-tab-group>
  </form>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <span class="info">*All fields are required</span>
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button (click)="saveDetails()" [disabled]="!carDetailsForm.valid">Save</button>
</mat-dialog-actions>