<h2 mat-dialog-title>Enter Car Details</h2>
<mat-dialog-content class="mat-typography">

  <form [formGroup]="carDetailsForm" (ngSubmit)="saveDetails()" novalidate>
    <mat-tab-group>
      <mat-tab label="Basic Details">
        <div>
          <div class="example-container">
            <mat-form-field appearance="outline">
              <mat-label>Brand</mat-label>
              <mat-select formControlName="brand" name="food">
                <mat-option *ngFor="let b of brands" [value]="b">
                  {{b}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="example-container">
            <mat-form-field appearance="outline">
              <mat-label>Model</mat-label>
              <mat-select formControlName="model" name="food">
                <mat-option *ngFor="let b of models" [value]="b">
                  {{b}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="example-container">
            <mat-form-field appearance="outline">
              <mat-label>Kilometers</mat-label>
              <input matInput formControlName="km">
              <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
            </mat-form-field>
          </div>
          <div class="example-container">
            <mat-form-field appearance="outline">
              <mat-label>Year</mat-label>
              <mat-select formControlName="year" name="food">
                <mat-option *ngFor="let b of years" [value]="b">
                  {{b}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="example-container">
            <mat-form-field appearance="outline">
              <mat-label>Fuel</mat-label>
              <mat-select formControlName="fuel" name="food">
                <mat-option *ngFor="let b of fuels" [value]="b">
                  {{b}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="example-container">
            <mat-form-field appearance="outline">
              <mat-label>Color</mat-label>
              <mat-select formControlName="color" name="food">
                <mat-option *ngFor="let b of colors" [value]="b">
                  <div fxLayout="row" fxLayoutAlign="space-between center"><span>{{b}}</span>
                    <p class="color" [ngStyle]="{'background': b}"></p>
                  </div>
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="example-container">
            <mat-form-field appearance="outline">
              <mat-label>Car Type</mat-label>
              <mat-select formControlName="car_type" name="food">
                <mat-option *ngFor="let b of carTypes" [value]="b">
                  {{b}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="example-container">
            <mat-form-field appearance="outline">
              <mat-label>Is E-Car?</mat-label>
              <input matInput formControlName="e_car">
              <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
            </mat-form-field>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Damage Records">
        <mat-icon class="delete-btn" (click)="addDamages()">
          add</mat-icon>
        <ng-container formArrayName="damages">
          <div *ngFor="let d of damagesControl?.controls; let i = index">
            <ng-container [formGroupName]="i">
              <mat-form-field appearance="outline">
                <input matInput formControlName="piece" placeholder="Piece">
              </mat-form-field>
              <mat-form-field appearance="outline">
                <input matInput formControlName="problem" placeholder="Problem">
              </mat-form-field>
              <mat-icon class="delete-btn" (click)="deleteDamages(i)">
                delete_forever</mat-icon>
            </ng-container>
          </div>
        </ng-container>
      </mat-tab>
    </mat-tab-group>
  </form>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button (click)="saveDetails()">Save</button>
</mat-dialog-actions>