.background {
    background-image: url('../../../assets/images/cars.jpg');
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
    top: 0;
    position: fixed;
}